@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-neonGreen font-mono;
    /* Fallback colors */
    background-color: #050505;
    /* CyberBlack */
  }
}